### Check validity of extracted incidents using the process followed in 'MVP.ipynb'

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data.csv')
test = pd.read_csv('./test.csv')

In [3]:
display(data.shape)
display(test.shape)

(8878, 5)

(8878, 2)

In [4]:
common = test.merge(data, on=['DateTime','IncidentNumber'])
common

,DateTime,IncidentNumber,Location,Nature,IncidentORI
0,2022-02-01 00:04:00,2022-00001588,15300 E LINDSEY ST,MVA With Injuries,14005
1,2022-02-01 00:04:00,2022-00002065,15300 E LINDSEY ST,MVA With Injuries,EMSSTAT
2,2022-02-01 00:04:00,2022-00005621,15300 E LINDSEY ST,MVA With Injuries,OK0140200
3,2022-02-01 00:06:00,2022-00002066,901 N PORTER AVE,Transfer/Interfacility,EMSSTAT
4,2022-02-01 00:18:00,2022-00005622,612 E ROCK CREEK RD,Suspicious,OK0140200
...,...,...,...,...,...
8873,2022-03-02 23:33:00,2022-00011589,3300 W MAIN ST,Trespassing,OK0140200
8874,2022-03-02 23:35:00,2022-00011590,3600 W MAIN ST,Traffic Stop,OK0140200
8875,2022-03-02 23:45:00,2022-00011592,1315 GARFIELD AVE,Disturbance/Domestic,OK0140200
8876,2022-03-02 23:46:00,2022-00011591,2583 W MAIN ST,Traffic Stop,OK0140200
8877,2022-03-02 23:57:00,2022-00011593,901 N PORTER AVE,Escort/Transport,OK0140200

#### Any differences between full data (in test.csv) and extracted incidents (in data.csv) is shown below

In [5]:
test[~test.DateTime.isin(common.DateTime) & ~test.IncidentNumber.isin(common.IncidentNumber)]

Empty DataFrame
Columns: [DateTime, IncidentNumber]
Index: []